{% extends "base_auth.html" %}

{% block title %}Registrera{% endblock %}

{% block auth_content %}

<section>

    <h2>Registrera dig</h2>

    <form class="login_form" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Användarnamn"  required="true">
        <input type="password" name="password" placeholder="Lösenord"  required="true">
        <button type="submit" class="submit-btn">registrera</button>
    </form>

    <div class="auth-links">
        <a href="{% url 'login' %}">Logga in</a>
        <a href="{% url 'chat' %}">Tillbaka till chatten</a>
    </div>
    
</section>

{% endblock %}
